---
---

@use "base";

.index-pre table {
    margin: 0 !important;
    padding:0 !important;
}

.index-pre table tr td {
    padding: 0;
}

footer {
    text-align: center;
}

time span {
  font-weight: bold;
}
