---
layout: default
timeago: true
---

<div class="block">
    <div class="content">
        <h1 class="title">
            <a href="https://guzman.io">~alex_guzman</a>/<a href="{{ site.url }}">blog</a>/<a href="{{ page.url }}"
                >{{ page.name }}</a
            >
        </h1>
    </div>
</div>
<div class="block">
    <div class="content">
        <h2 class="subtitle">{{ page.title }}</h2>
    </div>
</div>
<div class="block">
    <div class="content">Posted <time id="postedon" datetime="{{ page.date | date_to_xmlschema }}"><span id="postedago"></span> on <span>{{ page.date | date: "%B %-d, %Y" }}</span></time></div>
</div>
<div class="block">
    <div class="content">{{ content }}</div>
</div>
